{{ partial "head.html" . }}
<body>
<div class="container one-collumn sidebar-position-left {{ block "main_class" .}}{{end}}  ">
    <div class="headband"></div>

    <aside class="sidebar-wrapper">
      <div class="header-inner"> {{ partial "header.html" . }} </div>
      <div class="sidebar-inner">
        {{ partial "sidebar.html" . }}
      </div>
    </aside>

    <div class="sidebar-overlay"></div>
    <button class="drawer-toggle" aria-label="Toggle menu">
      <span class="btn-bar"></span>
      <span class="btn-bar"></span>
      <span class="btn-bar"></span>
    </button>

    <main id="main" class="main">
      <div class="content-wrap">
        <div id="content" class="content">
          {{ block "main_content" . }}{{end}}
        </div>
      </div>
      <footer id="footer" class="footer">
        <div class="footer-inner">
          {{ partial "footer.html" . }}
        </div>
      </footer>
    </main>

    <div class="back-to-top">
      <i class="fa fa-arrow-up"></i>
      <span id="scrollpercent"><span>0</span>%</span>
    </div>
  </div>

  {{ partial "script.html" .}}
</body>
</html>