{{ if isset .Params "toc" }}
  <ul class="sidebar-nav">
    <li class="sidebar-nav-toc sidebar-nav-active" data-target="post-toc-wrap">
    TOC
    </li>
    <li class="sidebar-nav-overview" data-target="site-overview">
    Overview
    </li>
  </ul>
{{ end }}
    <section class="site-overview sidebar-panel {{ if not (isset .Params "toc") }} sidebar-panel-active {{ end }}">
      {{ partial "sidebar/author.html" . }}
      <div class="sidebar-actions">
        {{ partial "sidebar/state.html" . }}
        <div class="theme-switch">
          <button id="theme-toggle" onclick="cycleTheme()" title="Toggle theme">
            <i id="theme-toggle-icon" class="fa fa-adjust"></i>
          </button>
        </div>
        {{ partial "sidebar/rss.html" . }}
      </div>
      {{ partial "sidebar/social.html" . }}
      {{ partial "sidebar/link.html" . }}
    </section>
    {{ partial "sidebar/toc.html" . }}
