<div class="site-author" itemprop="author">
    <img class="site-author-image" itemprop="image"
        src="{{ .Site.Params.AuthorImg }}"
        alt="{{ .Site.Params.Author.Name }}" />
    <p class="site-author-name" itemprop="name">{{ .Site.Params.Author.Name }}</p>
    {{ with .Site.Params.Introduce }}
    <p class="site-role">{{ . }}</p>
    {{ end }}
    {{ with .Site.Params.Description }}
    <p class="site-bio" itemprop="description">{{ . }}</p>
    {{ end }}
    {{ with .Site.Params.Subtitle }}
    <p class="site-tagline">{{ . }}</p>
    {{ end }}
</div>