<div class="site-author" itemprop="author">
    <img class="site-author-image" itemprop="image"
        src="{{ .Site.Params.AuthorImg }}"
        alt="{{ .Site.Params.Author.Name }}" />
    <p class="site-author-name" itemprop="name">{{ .Site.Params.Author.Name }}</p>
    <p class="site-role">{{ partial "bilingual.html" "Introduce" }}</p>
    <p class="site-bio" itemprop="description">{{ partial "bilingual.html" "Description" }}</p>
    <p class="site-tagline">{{ partial "bilingual.html" "SiteSubtitle" }}</p>
</div>